click==8.1.7
colorama==0.4.6
Flask==2.2.2
Flask-Cors==3.0.10
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==2.1.5
nltk==3.6.7
numpy==2.1.1
pandas==2.2.3
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
pytz==2024.2
regex==2024.9.11
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
threadpoolctl==3.5.0
tqdm==4.66.5
tzdata==2024.2
Werkzeug==2.2.3
